section.section
    .row
        .columns.small-12
            nav.articles
                ul.articles_list
                    for item in articlesMenu
                        li.articles_item
                            a(href="#")=item