section.certificates.about_certificates.section
    .row
        .columns.small-12
            .title.title_size-large.title_color-dark.title_main.text-center Наши награды
            hr.hr.hr-gold.hr-medium(noshade)
    .row
        .columns.small-12
            .carousel.carousel_awards.owl-carousel.owl-theme
                .carousel_awards_item
                    a.carousel_awards_border(href="./templates/_ares/img/jpg/award-1.jpg", data-fancybox="awards")
                        span.background_image(style='background-image: url(./templates/_ares/img/jpg/award-1.jpg)')
                .carousel_awards_item
                    a.carousel_awards_border(href="./templates/_ares/img/jpg/award-1.jpg", data-fancybox="awards")
                        span.background_image(style='background-image: url(./templates/_ares/img/jpg/award-1.jpg)')
                .carousel_awards_item
                    a.carousel_awards_border(href="./templates/_ares/img/jpg/award-1.jpg", data-fancybox="awards")
                        span.background_image(style='background-image: url(./templates/_ares/img/jpg/award-1.jpg)')
                .carousel_awards_item
                    a.carousel_awards_border(href="./templates/_ares/img/jpg/award-1.jpg", data-fancybox="awards")
                        span.background_image(style='background-image: url(./templates/_ares/img/jpg/award-1.jpg)')
                .carousel_awards_item
                    a.carousel_awards_border(href="./templates/_ares/img/jpg/award-1.jpg", data-fancybox="awards")
                        span.background_image(style='background-image: url(./templates/_ares/img/jpg/award-1.jpg)')
                .carousel_awards_item
                    a.carousel_awards_border(href="./templates/_ares/img/jpg/award-1.jpg", data-fancybox="awards")
                        span.background_image(style='background-image: url(./templates/_ares/img/jpg/award-1.jpg)')