extends templates/_layout

block vars
    - var page = "about_page";
    - var title = "Отзывы";

block content
    section.main
        .main_item.background_image.background-cover.background-50(style='background-image: url(./templates/_ares/img/jpg/about.jpg)')
        .main_block
            .row
                .column.small-12.large-10.large-offset-1
                    .title.title_main.title_size-section.title_color-white.text-center
                        | Отзывы
                    hr.hr.hr-gold.hr-large(noshade)
    div.wrapper.wrapper_menu
        - var wrapperTabs = ['О нас', 'Карьера', 'Социальная ответственность', 'Отзывы'];
        include ./components/_tabs
        section.section
            .row
                .columns.small-12
                    - var reviewsItem = [{"avatar":"","name":"Сломенец О.В.","status":"Директор, Общество с дополнительной ответственностью “Профигруп”","img":"./templates/_ares/img/jpg/award-1.jpg","content":["Уважаемый Сергей Чеславович!","На протяжении более 10 лет Вы оказываете нам честь как автор и лектор. Благодарим Вас за многолетний труд и сотрудничество с компанией “ЮрСпектр”, за компетентность, самотдачу в работе и внимательное отношение к коллегам!","Пусть Ваш профессионализм продолжает помогать ещё большему количеству специалистов страны. Примите самые искренние пожелания здоровья, блогополучия, дальнейших успехов в нашей совместной деятельности."]},{"avatar":"background-image: url(./templates/_ares/img/png/slomenec.png)","name":"Сломенец О.В.","status":"Директор, Общество с дополнительной ответственностью “Профигруп”","img":"./templates/_ares/img/jpg/award-1.jpg","content":["Уважаемый Сергей Чеславович!","На протяжении более 10 лет Вы оказываете нам честь как автор и лектор. Благодарим Вас за многолетний труд и сотрудничество с компанией “ЮрСпектр”, за компетентность, самотдачу в работе и внимательное отношение к коллегам!","Пусть Ваш профессионализм продолжает помогать ещё большему количеству специалистов страны. Примите самые искренние пожелания здоровья, блогополучия, дальнейших успехов в нашей совместной деятельности."]},{"avatar":"background-image: url(./templates/_ares/img/png/slomenec.png)","name":"Сломенец О.В.","status":"Директор, Общество с дополнительной ответственностью “Профигруп”","img":"./templates/_ares/img/jpg/award-1.jpg","content":["Уважаемый Сергей Чеславович!","На протяжении более 10 лет Вы оказываете нам честь как автор и лектор. Благодарим Вас за многолетний труд и сотрудничество с компанией “ЮрСпектр”, за компетентность, самотдачу в работе и внимательное отношение к коллегам!","Пусть Ваш профессионализм продолжает помогать ещё большему количеству специалистов страны. Примите самые искренние пожелания здоровья, блогополучия, дальнейших успехов в нашей совместной деятельности."]}];
                    include ./components/_reviews
            .row
                .columns.small-12
                    include ./components/_pagination