extends templates/_layout

block vars
    - var page = "about_page";
    - var title = "Полезная информация";

block content
    section.main
        .main_item.background_image.background-cover.background-50(style='background-image: url(./templates/_ares/img/jpg/about.jpg)')
        .main_block
            .row
                .column.small-12.large-10.large-offset-1
                    .title.title_main.title_size-section.title_color-white.text-center
                        | Полезная информация
                    hr.hr.hr-gold.hr-large(noshade)
    div.wrapper.wrapper_menu
        - var wrapperTabs = ['Наша практика', 'Полезная информация'];
        include ./components/_tabs
        - var textItem = ['Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. '];
        include ./components/_text
        section.result_section.section
            .row
                .columns.small-12.medium-10.medium-offset-1.large-6.large-offset-3
                    .form_item.form_item-search
                        input(type="search", name="", placeholder="Поиск по статьям", required)
                        span.form-error 
                            i.i-error
                        button(type='submit')
                            i.i-search
        -var headingsItems = [{"title":"Рубрики","links":["Хозяйственный процесс","Международный судебный процесс","Административный процесс, правонарушения","Учредительство","Сроки, исковая давность","Земельные правоотношения","Защита чести, достоинства и деловой репутации","Заключение, изменение, расторжение договора","Пеня, штраф, неустойка, проценты","Общие положения гражданского законодательства","Торги, закупки","Аренда","Прокат","Строительный подряд","Проектные и изыскательские работы","Игорный бизнес","Займ, коммерческий займ","Хранение","Налоговое, бюджетное, таможенное законодательство, ФСЗН","Нотариат","Гражданский процесс","Исполнительное производство","Регистрация, ликвидация субъектов хозяйствования, банкротство","Субсидиарная ответственность","Недвижимость","Убытки, ущерб, упущенная выгода","Загрязнение окружающей среды, охота","Недействительность, ничтожность сделок","Перевод долга, уступка права требования","Паставка, купля-продажа","Дарение","Лизинг","Подряд","Проектные и изыскательские работы","Перевозка, экспедиция","Банковское законодательство","Страхование","Трудовое, пенсионное законодательство","Приостановление деятельности","Формы документов"]}];
        include ./components/_headings