extends templates/_layout

block vars
    - var page = "main_page";
    - var title = "Услуги";

block content
    section.main
        .main_item.background_image.background-cover.background-50(style='background-image: url(./templates/_ares/img/jpg/about.jpg)')
        .main_block
            .row
                .column.small-12.large-10.large-offset-1
                    .title.title_main.title_size-section.title_color-white.text-center
                        | Услуги
                    hr.hr.hr-gold.hr-large(noshade)
    div.wrapper
        section.main_eggs.section
            .row
                mixin box(img,title,text)
                    .columns.small-12.large-4
                        a(href='#').box.flex.align-middle.text-center.shadow-light
                            .box_img=img
                            div.box_section
                                .title.title_size-medium.title_color-dark=title
                                hr.hr.hr-gold.hr-mini(noshade)
                                p=text
                +box('','Экономические споры','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Incidunt ut labore et dolore magnam aliquam quaerat voluptatem.')
                +box('','Третейский суд','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Incidunt ut labore et dolore magnam aliquam quaerat voluptatem.')
                +box('','Медиация','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Incidunt ut labore et dolore magnam aliquam quaerat voluptatem.')
        - var textItem = ['Предоставление комфортных условий для прохождения бесплатной практики студентам юридических и экономических специальностей ВУЗов с последующим трудоустройством. Приглашаем на работу юристов, имеющих большой опыт судебной работы.','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. '];
        include ./components/_text
