@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700|Playfair+Display:400,700&subset=cyrillic');
@font-face {
  font-family: 'iconmoon';
  src: url('../fonts/iconmoon/iconmoon.eot');
  src: url('../fonts/iconmoon/iconmoon.eot?#iefix') format('embedded-opentype'), url('../fonts/iconmoon/iconmoon.woff') format('woff'), url('../fonts/iconmoon/iconmoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  height: 100%;
}
body {
  background: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #000;
  line-height: 1;
  height: 100%;
}
a {
  color: #ccc;
  text-decoration: none;
  transition: 0.2s color, 0.2s background;
}
a:before,
a:after {
  transition: 0.2s color, 0.2s background;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: 700;
  margin: 0;
  color: #000;
  margin-bottom: 1em;
  font-family: 'Playfair Display', serif;
}
h1,
.h1 {
  font-size: 2.25rem;
}
h2,
.h2 {
  font-size: 1.5rem;
}
h3,
.h3 {
  font-size: 1.25rem;
}
h4,
.h4 {
  font-size: 1.125rem;
}
h5,
.h5 {
  font-size: 1.1rem;
}
p {
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
}
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 1;
}
.btn.disabled {
  background-color: #d1d1d1;
  pointer-events: none;
}
.btn.disabled::before,
.btn.disabled::after {
  background-color: #d1d1d1;
}
.btn:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.btn:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 1;
  border: 4px solid #fff;
}
.btn span {
  z-index: 2;
}
.btn_size-medium {
  font-size: 0.875rem;
  font-weight: 300;
  padding: 1.125rem 1.875rem;
}
.btn_color-yellow {
  background-color: #ba9241;
  color: #fff;
}
.btn_color-yellow:before {
  background-color: #ba9241;
}
.btn_color-yellow:after {
  background-color: #ba9241;
}
.btn_color-yellow:hover {
  background-color: #947434;
  color: #fff;
}
.btn_color-yellow:hover:before {
  background-color: #947434;
}
.btn_color-yellow:hover:after {
  background-color: #947434;
}
.btn_color-yellow:active {
  background-color: #947434;
  color: #fff;
}
.btn_color-yellow:active:before {
  background-color: #947434;
}
.btn_color-yellow:active:after {
  background-color: #947434;
}
.btn_color-yellow:focus {
  background-color: #947434;
  color: #fff;
}
.btn_color-yellow:focus:before {
  background-color: #947434;
}
.btn_color-yellow:focus:after {
  background-color: #947434;
}
input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
input[type=checkbox] + label:before {
  content: "";
}
input[type=radio] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
input[type=radio] + label:before {
  content: "";
}
.form_item-checkbox {
  position: relative;
}
.form_item-checkbox input {
  cursor: pointer;
}
.form_item-checkbox input:checked + span {
  background-color: #ba9241;
}
.form_item-checkbox input:checked + span::after {
  opacity: 1;
}
.form_item-checkbox input:hover + span {
  border-color: #947434;
}
.form_item-checkbox input:disabled + span {
  border-color: #d1d1d1 !important;
}
.form_item-checkbox input:disabled + span:after {
  background-color: #d1d1d1 !important;
}
.form_item-checkbox span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ba9241;
  border-radius: 0;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
}
.form_item-checkbox span:after {
  content: '';
  background-image: url(../img/svg/ok.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9px 7px;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form_item-radiobox {
  position: relative;
}
.form_item-radiobox input {
  cursor: pointer;
}
.form_item-radiobox input:checked + span {
  background-color: #fff;
}
.form_item-radiobox input:checked + span::after {
  opacity: 1;
}
.form_item-radiobox input:hover + span {
  border-color: #947434;
}
.form_item-radiobox input:disabled + span {
  border-color: #d1d1d1 !important;
}
.form_item-radiobox input:disabled + span:after {
  background-color: #d1d1d1 !important;
}
.form_item-radiobox span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ba9241;
  border-radius: 0;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
}
.form_item-radiobox span:after {
  content: '';
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0;
  border-radius: 50%;
  background-color: #947434;
}
