*,
*:before,
*:after {
	box-sizing: inherit;
	outline: none;
}

html {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: @base-font-size;
	height: 100%;

	@media (min-width: 83em) and (max-width: 90.975em){
		font-size: 90%;
	}

	@media (min-width: 75em) and (max-width: 82.975em){
		font-size: 80%;
	}

	@media (min-width: 64em) and (max-width: 74.975em){
		font-size: 73.9%;
	}

	@media (min-width: 40em) and (max-width: 41.975em){
		font-size: 90%;
	}

}

body {
	background: @main-bg;
	margin: 0;
	font-family: @font-family;
	font-size: @font-size;
	color: @text-color;
	line-height: @line-height;
	height: 100%;
	display: flex;
    flex-direction: column;
}

a {
	color: @link-color;
	text-decoration: none;
	transition: @transition-time color, @transition-time background;

	&:before,
	&:after {
		transition: @transition-time color, @transition-time background;
	}
}

button{
	transition: @transition-time color, @transition-time background;

	&:before,
	&:after {
		transition: @transition-time color, @transition-time background;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1,h2,h3,h4,h5,h6 {
	line-height: @line-height;
	font-weight: 700;
	margin: 0;
	color: @text-color;
	margin-bottom: 1em;
	font-family: @font-family--serif;
}
h1,
.h1 {
	font-size: @font-size--h1;
}
h2,
.h2 {
	font-size: @font-size--h2;
}
h3,
.h3 {
	font-size: @font-size--h3;
}
h4,
.h4 {
	font-size: @font-size--h4;
}
h5,
.h5 {
	font-size: @font-size--h5;
}

p {
	line-height: 1.25rem;
	margin-bottom: 1.25rem;
	margin-top: 0;
	color: #666;
}

.copirate{
	color: #999;
	font-size: 0.625rem;
	font-weight: 300;
}

.hidden{

	&-small{
		@media (max-width: 39.975em){
			display: none !important;
		}
	}

	&-medium{
		@media (min-width: 40em) and (max-width: 63.975em){
			display: none !important;
		}
	}

	&-large{

		@media (min-width: 64em){
			display: none !important;
		}
	}
}

.column{

	&-small{
		
		@media (max-width:39.975em){
			flex-direction: column;
		}
	}
}

.hr{
	position: relative;
	margin: 1.875rem auto;
	width: 100%;

	&-mini{
		max-width: 3.75rem;
	}

	&-gold{
		border-color: @main;
	}
}

.text{

	&-center{
		text-align: center;
	}

	&-right{
		text-align: right;
	}
}

.row{

	&-large{
		max-width: none;
		
		@media (min-width: 75em){
			padding: 0 3.75rem;
		}
	}
}

.flex{
	display: flex;

	&-row{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&-column{
		display: flex;
		flex-direction: column;
	}
}

.arrow{

	&-down{
		width: 0;
		height: 0;
		border-left: 0.35rem solid transparent;
		border-right: 0.35rem solid transparent;
		border-top: 0.3rem solid #fff;
	}
}

.contacts{

	&_phone{
		display: flex;
		width: 100%;
		color: #fff;
		font-weight: 600;
		font-size: 1rem;
		margin-bottom: 0.25rem;

		@media (max-width: 39.975em){
			font-size: 0.875rem;
		}
	}
	
	&_callback{
		display: flex;
		width: 100%;
		color: #fff;
		font-weight: 300;
		margin-top: 0.25rem;

		&:hover{
			color: @main--hover;

			span{
				border-bottom-color: @main--hover;
			}
		}
		
		span{
			border-bottom: 1px dashed #fff;
			margin-left: 0.5rem;
		}
	}
}