*,
*:before,
*:after {
	box-sizing: inherit;
	outline: none;
}

html {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: @base-font-size;
	min-height: 100%;

	@media (min-width: 83em) and (max-width: 90.975em){
		font-size: 90%;
	}

	@media (min-width: 75em) and (max-width: 82.975em){
		font-size: 80%;
	}

	@media (min-width: 64em) and (max-width: 74.975em){
		font-size: 73.9%;
	}

	@media (min-width: 40em) and (max-width: 41.975em){
		font-size: 90%;
	}

}

body {
	background: @main-bg;
	margin: 0;
	font-family: @font-family;
	font-size: @font-size;
	color: @text-color;
	line-height: @line-height;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	min-width: 320px;
}

a {
	color: @link-color;
	text-decoration: none;
	transition: @transition-time color, @transition-time background;

	&:before,
	&:after {
		transition: @transition-time color, @transition-time background;
	}
}

button{
	transition: @transition-time color, @transition-time background;

	&:before,
	&:after {
		transition: @transition-time color, @transition-time background;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1,h2,h3,h4,h5,h6 {
	line-height: @line-height;
	font-weight: 700;
	margin: 0;
	color: @text-color;
	margin-bottom: 1em;
	font-family: @font-family--serif;
}
h1,
.h1 {
	font-size: @font-size--h1;
}
h2,
.h2 {
	font-size: @font-size--h2;
}
h3,
.h3 {
	font-size: @font-size--h3;
}
h4,
.h4 {
	font-size: @font-size--h4;
}
h5,
.h5 {
	font-size: @font-size--h5;
}

p {
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	margin-top: 0;
	color: #666;
	font-weight: 300;

	b{
		font-weight: 600;
	}

	&:last-child{
		margin-bottom: 0;
	}

	@media (max-width: 39.975em){
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}

.copirate{
	color: #999;
	font-size: 0.625rem;
	font-weight: 300;
}

.hidden{

	&-small{
		@media (max-width: 39.975em){
			display: none !important;
		}
	}

	&-medium{
		@media (min-width: 40em) and (max-width: 63.975em){
			display: none !important;
		}
	}

	&-large{

		@media (min-width: 64em){
			display: none !important;
		}
	}
}

.column{

	&-small{
		
		@media (max-width:39.975em){
			flex-direction: column;
		}
	}
}

.hr{
	position: relative;
	width: 100%;

	&-mini{
		max-width: 3.75rem;
		margin: 1.875rem auto;

		@media (max-width: 39.975em){
			margin: 1.125rem auto;
		}
	}

	&-medium{
		border-top-width: 3px;
		max-width: 4.375rem;
		margin: 2.5rem auto;
	}

	&-large{
		max-width: 6.25rem;
		margin: 2.5rem auto;

		@media (max-width: 39.975em){
			margin: 1.625rem auto;
		}
	}

	&-gold{
		border-color: @main;
	}
}

.text{

	&-center{
		text-align: center;
	}

	&-right{
		text-align: right;
	}

	&-white{
		color: @white;

		p{
			color: @white;
		}
	}

	&_card{

		.title_size-large{
			margin-bottom: 1.5rem;
		}
		.news_date{
			margin-bottom: 2.25rem;
		}

		p{

			img{
				display: flex;
				margin: 3.5rem auto 1.5rem;
				max-width: 48.125rem;

				@media (max-width: 63.975em){
					max-width: 100%;
				}

				& + span{
					display: inline-block;
					text-align: center;
					width: 100%;
				}
			}
		}

		ul{
			margin: 0 0 1.5rem;
			padding: 0;
			list-style: none;
			line-height: 1.5rem;
			color: #666;
			font-weight: 300;

			li{
				position: relative;
				margin-bottom: 0.5rem;
				padding-left: 2.25rem;

				&:last-child{
					margin-bottom: 0;
				}

				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 0.25rem;
					display: inline-block;
					width: 1rem;
					height: 1rem;
					background-image: url(../img/svg/marker.svg);
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
	}
}

.back{
	color: #333;
	position: relative;
	display: inline-flex;
	align-items: center;
	font-style: italic;

	span{
		border-bottom: 1px solid #333;
	}

	i{
		font-size: 0.75rem;
		margin-right: 0.625rem;
	}

	&:hover{
		
		span{
			border-bottom-color: transparent;
		}
	}
}

.iframe_parents{
	position: relative;
	padding-bottom: 37%;
	height: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin: 3.5rem 0 3.5rem;

	iframe{
		position: absolute;
		width: 100%;
		height: 100%;
		left: auto;
		right: auto;
		max-width: 48.125rem;
	}

	@media (max-width: 63.975em){
		padding-bottom: 56%;

		iframe{
			max-width: 100%;
		}
	}
}

.row{

	&-large{
		max-width: none;
		
		@media (min-width: 75em){
			padding: 0 3.75rem;
		}
	}
}

.flex{
	display: flex;

	&-row{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&-column{
		display: flex;
		flex-direction: column;
	}
}

.arrow{

	&-down{
		width: 0;
		height: 0;
		border-left: 0.35rem solid transparent;
		border-right: 0.35rem solid transparent;
		border-top: 0.3rem solid #fff;
	}
}

.contacts{

	&_phone{
		display: flex;
		width: 100%;
		color: #fff;
		font-weight: 600;
		font-size: 1rem;
		margin-bottom: 0.25rem;

		@media (max-width: 39.975em){
			font-size: 0.875rem;
		}
	}
	
	&_callback{
		display: flex;
		width: 100%;
		color: #fff;
		font-weight: 300;
		margin-top: 0.25rem;

		&:hover{
			color: @main--hover;

			span{
				border-bottom-color: @main--hover;
			}
		}
		
		span{
			border-bottom: 1px dashed #fff;
			margin-left: 0.5rem;
		}
	}

	&_area{
		.footer_block p a{
			color: #666;
		}
	}
}

.absolute{

	&-large{
		@media (min-width: 64em){
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}

.background{

	&_image{
		background-position: center;
		background-repeat: no-repeat;
	}

	&-cover{
		background-size: cover;
	}

	&-50{
		height: 50rem;
	}

	&-100{
		min-height: 100vh;
	}

	&_square{
		width: 100%;
		height: 100%;
		padding-top: 100%;
		display: block;
		background-size: cover;
	}

	&_img{
		position: absolute;
		overflow: hidden;
		background-repeat: no-repeat;

		@media (max-width: 39.975em){
			display: none;
		}

		&-clock{
			background-image: url(../img/svg/clock.svg);
			width: 40.75rem;
			height: 40.75rem;
			transform: translateX(-30%) translateY(-30%);
		}

		&-libra{
			background-image: url(../img/svg/libra.svg);
			width: 40.75rem;
			height: 40.75rem;
			transform: translateX(30%) translateY(10%);
			right: 0;
			bottom: 0;
		}

		&-hammer{
			background-image: url(../img/svg/hammer.svg);
			width: 40.75rem;
			height: 22.75rem;
			transform: translateX(-30%) translateY(-10%);
		}
	}
}

.shadow{

	&-light{
		box-shadow: 0 5px 12px rgba(0,0,0,.13);
	}
}

.wrapper{
	position: relative;
	z-index: 15;
	margin-top: -11.75rem;
	

	@media (max-width: 39.975em){
		margin-top: -3.75rem;
	}

	&_menu{
		margin: 0 auto;
		margin-top: -11.75rem;
		background-color: #fff;
		max-width: 80.625rem;
		padding-top: 5rem;
		z-index: 10;
	}
}

#news_page{

	.wrapper{
		margin-top: -15rem;
	}
}

.section{
	position: relative;
	width: 100%;
	margin-bottom: 5rem;
}

.image{

	&-border{
		position: relative;
		padding: 0.625rem;

		&:before{
			content: '';
			background-image: url(../img/svg/border-bottom.svg);
			position: absolute;
			bottom: 0;
			left: 0;
			background-size: contain;
			background-repeat: no-repeat;
			width: 7.5rem;
			height: 7.5rem;
		}

		&:after{
			content: '';
			background-image: url(../img/svg/border-top.svg);
			position: absolute;
			top: 0;
			right: 0;
			background-size: contain;
			background-repeat: no-repeat;
			width: 7.5rem;
			height: 7.5rem;
		}

		img{
			width: 100%;
		}
	}
}

.sign{
	position: relative;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	color: #999;
	margin-top: 1.625rem;

	&-post{
		font-weight: 300;
		position: relative;
		text-align: center;
		color: #999;
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

.patern{
	background-image: url(../img/png/form_patern.png);
}

.name{
	font-size: 1rem;
	color: #666;
	font-family: @font-family--serif;
	margin-bottom: 0.125rem;

	&_img{
		width: 3.125rem;
		height: 3.125rem;
		display: block;
		border-radius: 50%;
		margin-right: 0.875rem;
		
	}

	&_post{
		font-size: 0.75rem;
		color: #666;
		font-style: italic;
		font-weight: 300;
		margin-top: 0.125rem;
	}
}

.map{
	height: 36.5rem;

	#map{
		height: 100%;
	}
}