.title{
	position: relative;

	&_size{

		&-medium{
			font-family: @font-family--serif;
			font-size: 1.5rem;
		}
	}

	&_footer{
		font-size: 0.875rem;
		font-family: @font-family--serif;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 1rem;
	}
}