.title{
	position: relative;
	width: 100%;

	&_size{

		&-small{
			font-size: 1rem;
			margin-bottom: 1rem;
		}

		&-medium{
			font-family: @font-family--serif;
			font-size: 1.5rem;
		}

		&-large{
			font-size: 2.25rem;
		}

		&-extraLarge{
			font-size: 3rem;

			@media (max-width: 39.975em){
				font-size: 1.5rem;
			}
		}

		&-section{
			font-size: 3.75rem;

			@media (max-width: 39.975em){
				font-size: 2.25rem;
			}
		}
	}

	&_color{

		&-main{
			color: @main;
		}

		&-dark{
			color: #333;
		}

		&-white{
			color: @white;
		}
	}

	&_footer{
		font-size: 0.875rem;
		font-family: @font-family--serif;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 1rem;
	}

	&_main{
		font-family: @font-family--serif;
	}

	&_contacts{
		font-family: @font-family--serif;
		font-size: 1rem;
		margin-bottom: 0.875rem;
		text-transform: uppercase;
	}

	&-semibold{
		font-weight: 600;
	}
}